/*--------------/ Property Grid /--------------*/
.property-grid .grid-option {
    text-align: right;
    margin-bottom: 2rem;
}

.property-grid .grid-option .custom-select {
    border-radius: 5px;
    width: 200px;
    border-color: #313131;
}

.property-grid .grid-option .custom-select:hover,
.property-grid .grid-option .custom-select:active,
.property-grid .grid-option .custom-select:focus {
    border-color: #313131;
}

.property-grid .grid-option .custom-select option {
    border-color: #313131;
}